body {
    margin: 0;
    background: Seashell;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background: linear-gradient(210deg, red, black, black);
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.content {
    margin-left: 15%;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-left: 15%;
}

.product-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-bottom: 5px;
    margin: 20px;
    width: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid Silver 2px;
}

.img-product {
    width: 50%;
    height: 100px;
    padding: 5px;
}

.product-name {
    background: LightGrey;
    padding: 5px;
    font-size: 16px;
    height: 38px;
    border-bottom: solid Silver 2px;
}

.product-price {
    padding: 5px;
    font-size: 28px;
}

.product-description {
    padding: 5px;
    font-size: 18px;
    height: 50px;
    border-bottom: solid Silver 2px;
}

.product-btn {
    padding: 5px;
}

.btn-buy {
    width: 70%;
    color: DodgerBlue;
    border-color: DodgerBlue;
    font-size: 18px;
    border-radius: 4px;
}

.logo {
    text-align: center;
    margin-top: 10%
}

.img-logo {
    width: 100px;
    height: 100px;
}

.img-rubl {
    width: 20px;
    height: 20px;
}

.sidebar a {
    font-size: 18px;
    margin-left: 10px;
}

.sidebar .nav {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15%
}

.dropdown {
    position: absolute;
    display: inline-block;
    bottom: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: Grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-user {
    background: black;
    color: white;
    font-size: 16px;
    width: 220px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    font-family: Open-Sans;
    border-radius: 8px;
    border: solid Silver 2px;
}

.modal-header {
    padding: 10px;
}

.modal-body {
    border-top: solid Silver 2px;
    padding: 10px;
}

.modal-footer {
    border-top: solid Silver 2px;
    padding: 10px;
}

.btn-secondary {
    width: 25%;
    color: DodgerBlue;
    border-color: DodgerBlue;
    font-size: 18px;
    border-radius: 4px;
}

.btn-secondary:hover {
    color: red;
    border-color: red;
}

.btn-primary {
    width: 25%;
    color: DodgerBlue;
    border-color: DodgerBlue;
    font-size: 18px;
    border-radius: 4px;
}

.btn-primary:hover {
    color: green;
    border-color: green;
}

.close {
    color: white;
    background: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    font-size: 20px;
    position: fixed;
    top: 95%;
    left: 50%;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.btn-delete {
    border: None;
    font-size: 16px;
    font-family: Open Sans;
    background: Seashell;
}

.modal-footer a i {
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.btn-exit {
    color: white;
    background: Grey;
    border: None;
}