{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Новое письмо{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_product.css' %}">
{% endblock %}

{% block content %}
<div class="content-create">
    <div class="form-container">
        <h1>Новое письмо</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить письмо</button>
        </form>
        <a href="{% url 'catalog:home' %}">Назад к главной странице</a>
    </div>
</div>
{% endblock %}