{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Регистроция профиля{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_product.css' %}">
{% endblock %}

{% block content %}
<div class="content-create">
    <div class="form-container">
        <h1>Регистрация</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}