{% extends 'catalog/base.html' %}

{% load static %}

{% block title %} Удаление продукта {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_product.css' %}">
{% endblock %}

{% block content %}
<div class="content-create">
    <div class="form-container">
        <h2> Подтвердите удаление продукта </h2>
        <p> Вы уверены, что хотите удалить продукт "{{ object.name }}"? </p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Удалить продукт</button>
        </form>
        <a href="{% url 'catalog:home' %}">Вернуться к текущему продукту</a>
    </div>
</div>
{% endblock %}