{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 style="text-align:center; font-size: 48px;"><strong>Главная</strong></h1>
<h3 style="text-align:center"> Вы находитесь на главной странице онлайн магазина </h3>

<div class="container">
    {% for product in products %}
        <div class="product-card">
            <div class="product-name"><b>{{ product.name }}</b></div>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-product">
            <div class="product-price"><b>{{ product.price }}</b></div>
            <div class="product-description">{{ product.description|truncatechars:40 }}</div>
            <div class="product-btn">
                <button class="btn-buy" data-toggle="modal" data-target="#productModal{{ product.id }}">Подробнее</button>
            </div>
        </div>

        <!-- Модальное окно для продукта -->
        <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-product" style="width:200px; height: 200px;"/>
                        <p><strong>Цена:</strong> {{ product.price }}</p>
                        <p><strong>Описание:</strong> {{ product.description }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn-primary">Купить</button>
                        <a href="{% url 'catalog:update_product' product.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a href="#"><button class="btn-delete" data-toggle="modal" data-target="#deleteModal{{ product.id }}"><i class="bi bi-trash"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно для подтверждения удаления -->
        <div id="deleteModal{{ product.id }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>Подтверждение удаления</h2>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить этот продукт?</p>
                        <div class="modal-actions">
                            <form action="{% url 'catalog:delete_product' product.id %}" method="POST" id="delete-post-form-{{ product.id }}">
                                {% csrf_token %}
                                <button type="submit" class="modal-btn-delete">Да, удалить</button>
                            </form>
                            <button class="btn-cancel" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
{% endblock %}